@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Josefin+Sans:wght@100&family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}

#time {
    display: flex;
    gap: 40px; /*Alinhamento na horizontal*/
    color: #fff;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#time .ap {
    position: relative;
    font: 1em;
    transform: translateX(-20px);
}